<section class="profile">



	<h1>Welcome <%= @user.user_name %></h1>
	
	<%= @user.name %>
	<%= @user.email %>

	<form action="/user/profile" method="post">
		
		<input type="hidden" method="_delete">
		<button type="submit">Sign Out</button>
	</form>

	<form action="/user/profile" method="post">
		<textarea name="content" cols="30" rows="10"></textarea>
		<button type="submit">Post a chitt</button>
	</form>

<section class="chitters">
	<% @chitters.each do | chitt | %>
	
		<div class="chit">
			<ul>
				<li> <%= chitt.name %> <span> <%= chitt.user_name %> </span> </li>
				<li> <%= chitt.content %> <span> <%= chitt.at_time %> </span> </li>
			</ul>
		</div>
	<% end %>	

</section>
	
</section>
